
@{
    ViewBag.Title = "All Recipes";
}

@model IEnumerable<CookBook.SqlDataAccess.Recipe>

<h2>All Recipes</h2>

<table class="table table-condensed table-striped">
    <tr>
        <th>Recipe</th>
        <th>Description</th>
        <th>Rate</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@Html.ActionLink(@item.Name, "Edit", new { recipeId = item.Id })</th>
            <th>@item.Description</th>
            <th>@item.Rate</th>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Create", "Create")
</p>